 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

 }

 body {
     /* display: flex; */
     height: 100vh;
     justify-content: center;
     align-items: center;
     padding-left: 10px;
     background: linear-gradient(#be4444, #dbdce0);

 }
 header{
    background-color: green;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
 }

 

 .user-details {
     display: grid;
     /* column-gap: 10px; */
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 20px;
 }

 .user-details .input-box input {
     height: 30px;
     width: 100%;
     outline: none;
     border-radius: 5px;
     padding-left: 16px;
     border: 2px solid #ccc;
 }


 .user-details .input-box .details {
     display: block;
     font-weight: 600;
     margin-bottom: 5px;

 }

 .user-details .input-box input:focus {
     border-color: hwb(312 18% 7%);
 }

 form .gender-details .gender-title {

     font-size: 20px;
     font-weight: 500;
 }

 form .gender-details .category {
     display: flex;
     width: 30%;
     margin: 15px 0px;
     justify-content: space-between;
 }
 footer{
    background: gray;
    text-align: center;
    color: rgb(183, 241, 21);
 }